CryptoWalletApp/*.iml
CryptoWalletApp/.gradle
CryptoWalletApp/local.properties
CryptoWalletApp/.idea/caches/build_file_checksums.ser
CryptoWalletApp/.idea/libraries
CryptoWalletApp/.idea/modules.xml
CryptoWalletApp/.idea/workspace.xml
CryptoWalletApp/.DS_Store
CryptoWalletApp/build
CryptoWalletApp/captures
CryptoWalletApp/.externalNativeBuild
CryptoWalletBackend/.vscode
CryptoWalletBackend/dist
CryptoWalletBackend/node_modules
CryptoWalletBackend/package-lock.json