<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cryptowallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".old.AddressViewerActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.MainActivity" />
        </activity>
        <activity
            android:name=".app.ScanQrActivity"
            android:parentActivityName=".app.SendPaymentsActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.SendPaymentsActivity" />
        </activity>


        <!-- Nuevas actividades -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <activity android:name=".app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cryptowallet.com"
                    android:mimeType="text/plain"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".app.MainActivity" />
        <activity android:name=".app.WelcomeActivity" />
        <activity
            android:name=".app.Configure2FaActivity"
            android:parentActivityName=".app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.MainActivity" />
        </activity>
        <activity
            android:name=".app.BackupActitivy"
            android:parentActivityName=".app.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.MainActivity" />
        </activity>
        <activity
            android:name=".app.RestoreActivity"
            android:parentActivityName=".app.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WelcomeActivity" />
        </activity>
        <activity android:name=".app.SendPaymentsActivity" />
    </application>

</manifest>
