<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2019 InnSy Tech
  ~ Copyright 2019 Ing. Javier de Jesús Flores Mondragón
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cryptowallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".bitcoin.BitcoinService"
            android:exported="false"
            android:icon="@mipmap/img_bitcoin" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cryptowallet.com"
                    android:mimeType="text/plain"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.SendPaymentsActivity"
            android:parentActivityName=".app.WalletAppActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
        <activity
            android:name=".app.ReceiveCoinsActivity"
            android:parentActivityName=".app.WalletAppActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
        <activity
            android:name=".app.TransactionHistoryActivity"
            android:parentActivityName=".app.WalletAppActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
        <activity
            android:name=".app.WalletAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.BackupFundsActitivy"
            android:parentActivityName=".app.WalletAppActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
        <activity
            android:name=".app.InitWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.RestoreWalletActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".app.InitWalletActivity" />
        </activity>
        <activity
            android:name=".app.DeleteWalletActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
        <activity
            android:name=".app.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
        <activity
            android:name=".app.TransactionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.TransactionHistoryActivity" />
        </activity>
        <activity
            android:name=".app.AddressViewerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.WalletAppActivity" />
        </activity>
    </application>

</manifest>